# API 基础 URL
VITE_API_BASE_URL=/api

# 应用标题
VITE_APP_TITLE=Vue 3 + Element Plus

# 其他环境变量
# VITE_MAPLIBRE_TOKEN=your_token_here
